.menu{
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  margin-bottom: 1em;

  @media screen and (max-width: 480px){
    flex-flow: wrap;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
  }


  &>:first-child{
    margin-left : 0;
  }

  &>:last-child{
    margin-right: 0;
  }

  &__slider{
    width: calc(100% / 6);
    background-image: linear-gradient(rgb(58, 60, 74), rgb(36, 38, 50));
    margin: 1em;

    border: 3px solid rgb(77, 77, 77);
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;

    transition: transform 0.3s ease;
    position: relative;



    @media screen and (max-width: 480px){
      margin: 0.2em 0.1em;
      width: calc(100%/3.1);
      border: 1px solid rgb(77, 77, 77);
    }

    &:hover{
      transform: scale(1.1);
      border: 3px solid rgb(207, 207, 207);

      .menu__video{
        opacity: 1;
        video{
          border-radius: 8px;
        }
      }

    }

  }

  &__logo{
    position: absolute;
    z-index: 1;

  }

  &__video{
    opacity: 0;
  }

}
