<div class="footer">
    <div class="footer__container">
        <img src="/assets/icons/disney_plus_logo.png" alt="disney_logo" class="footer__disney_logo">
        <div class="footer__text">
            <div class="footer__menu">
                <div class="footer__menu_element">
                    <span>Privacy Policy</span>
                </div>
                <div class="footer__menu_element">
                    <span>Cookies Policy</span>
                </div>
                <div class="footer__menu_element">
                    <span>UK & EU Privacy Rights</span>
                </div>
                <div class="footer__menu_element">
                    <span>Subscriber Agreement</span>
                </div>
                <div class="footer__menu_element">
                    <span>Help</span>
                </div>
                <div class="footer__menu_element">
                    <span>Supported Devices</span>
                </div>
                <div class="footer__menu_element">
                    <span>About Us</span>
                </div>
                <div class="footer__menu_element">
                    <span>Interest-based Ads</span>
                </div>
                <div class="footer__menu_element">
                    <span>Manage Preferences</span>
                </div>
            </div>
            <span class="footer__rights">© Disney. All rights reserved.</span>
        </div>
    </div>
</div>